.work-experience-section {
  .work-experience-wrapper {
    width: 100%;
    .work-experience-head-title {
      color: $first_color;
      font-size: 20px;
      width: 100%;
      text-align: center;
      padding: 30px 0;
      border-bottom: 1px solid #d6b8b8;
      text-transform: uppercase;
      letter-spacing: 0.2em;
    }
    .work-experience {
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: center;
      padding: 100px 0;
      border-bottom: 1px solid #cacaca;
      .work-box {
        display: flex;
        gap: 120px;
        justify-content: center;
        width: 100%;
        position: relative;
       
  
        &.visible {
          .left-side {
            opacity: 1; /* Görünən vəziyyət */
            transform: translateX(0); /* Normal mövqe */
          }
          .right-side {
            opacity: 1; /* Görünən vəziyyət */
            transform: translateX(0); /* Normal mövqe */
          }
        }
        .left-side {
          width: 50%;
          transform: translateX(-100px); 
          transition: opacity 0.6s ease-out, transform 1.5s ease-out;
          opacity: 0;
          .duration {
            line-height: 1.8em;
            text-align: right;
            font-size: 14px;
            color: $first_color;
            letter-spacing: 0.15em;
            font-weight: bolder;
          }
          .position {
            line-height: 1.8em;
            text-align: right;
            font-size: 14px;
            letter-spacing: 0.2em;
            color: $first_color;
          }
        }
        .right-side {
          width: 50%;
          transform: translateX(100px); /* Başlanğıc mövqeyi */
          transition: opacity 0.6s ease-out, transform 1.5s ease-out;
          opacity: 0;
          .company {
            line-height: 1.8em;
            font-size: 14px;
            letter-spacing: 0.2em;
            color: $first_color;
          }
          .description {
            line-height: 1.8em;
            font-size: 14px;
            color: $first_color;
            width: 400px;
          }
        }

        &::before {
          content: "";
          position: absolute;
          width: 1px;
          top: 15px;
          height: 110%;
          background: #cacaca;
        }

        &::after {
          content: "";
          position: absolute;
          background-color: $first_color;
          top: 10px;
          width: 5px;
          height: 5px;
          border: 1px solid $first_color;
          border-radius: 50%;
        }
      }

      .work-box:last-of-type::before {
      height: calc(100% - 18px);
      }
    }
  }
}
