.contact-section {
  background-color: $second_color;
  height: 100%;
  .contact-head {
    width: 100%;
    text-align: center;
    padding: 37px 0;
    border-bottom: 1px solid #fff;
    .contact-head-title {
      font-size: 20px;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      color: $first_color;
    }
  }
  .contact-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: stretch;
    @media(max-width:690px){
      flex-direction: column;
    }
    .contact-form,
    .contact-info {
      flex: 1;
      display: flex;
      justify-content: center;
      padding: 40px 0;
      @media(max-width:690px){
        padding: 20px 0;
      }
    }
    .divider {
      width: 1px;
      min-height: 150px;
      background-color: #fff;
      position: relative;
      flex-shrink: 0;
      @media(max-width:690px){
        display: none;
      }
    }
    .contact-form {
      form {
        display: flex;
        flex-direction: column;
        margin-right: 40px;
        gap: 10px;
        
        @media(max-width:690px){
          margin-right: 0;
          width: 100%;
        }
        .name-email {
          display: flex;
          width: 100%;
          gap: 10px;
          @media(max-width:690px){
           flex-direction: column;
           width: 100%;
          }
          input {
            flex: 1;
            padding: 3px 3px 3px 24px;
            height: 34px;
            background-color: #fff;
            color: black;
            outline: none;
            border: none;
            width: 100%;
            @media(max-width:690px){
              padding: 6px 3px 6px 24px;
             }
          }
        }
        .telephone {
          width: 100%;
          input {
            padding: 3px 3px 3px 24px;
            height: 34px;
            background-color: #fff;
            color: black;
            outline: none;
            border: none;
            width: 100%;
          }
        }
        .message {
          textarea {
            width: 100%;
            height: 150px;
            background-color: #fff;
            padding: 10.5px 10px 3px 24px;
          }
        }
        .submit-btn {
          background-color: $first_color;
          color: #fff;
          width: 100%;
          height: 38px;
          display: flex;
          justify-content: center;
          align-items: center;
          border: none;
          outline: none;
          &:hover {
            background-color: rgba(24, 33, 83, 0.5); /* 50% şəffaflıq */
          }
        }
      }
    }
    .contact-info {
      display: flex;
      flex-direction: column;
      @media(max-width:690px){
        align-items: center;
      }
      .consultant-contact-info {
        flex: 3;
        padding: 0 0 40px 40px;
        display: flex;
        flex-direction: column;
        gap: 25px;
        color: $first_color;
        border-bottom: 1px solid grey;
        @media(max-width:690px){
          padding: 0 0 20px 0;
          text-align: center;
        }
        .frontend-consultant-info {
          display: flex;
          flex-direction: column;
          gap: 5px;

          h2 {
            font-size: 25px;
            font-weight: 600;
          }
          p {
            letter-spacing: 0.05em;
            font-size: 14px;
          }
        }
        .contact-phone {
          display: flex;
          flex-direction: column;
          gap: 5px;
          h6 {
            font-size: 14px;
            letter-spacing: 0.05em;
          }
          a {
            font-size: 14px;
            color: $first_color;
          }
        }
        .contact-email {
          display: flex;
          flex-direction: column;
          gap: 5px;
          h6 {
            font-size: 14px;
            letter-spacing: 0.05em;
          }
          a {
            font-size: 14px;
            color: $first_color;
          }
        }
      }
      .social-links {
        display: flex;
        gap: 25px;
        padding: 40px 0 0 80px;
        @media(max-width:690px){
          padding: 20px 0 0 0;
        }
        a {
          .contact-link-icon {
            width: 22px;
            height: 22px;
          }
        }
      }
    }
  }
}
