.contact-section {
  background-color: $second_color;
  .contact-head {
    width: 100%;
    text-align: center;
    padding: 37px 0;
    border-bottom: 1px solid #fff;
    .contact-head-title {
      font-size: 20px;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      color: $first_color;
    }
  }
  .contact-wrapper {
    display: flex;
    padding: 60px 0;
    position: relative;
    overflow: hidden;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      right: 50%;
      border: 1px solid #fff;
      height: 100%;
    }
    .contact-form {
      flex: 1;

      form {
        display: flex;
        flex-direction: column;
        margin-right: 80px;
        gap: 10px;
        .name-email {
          display: flex;
          width: 100%;
          gap: 10px;
          input {
            flex: 1;
            padding: 3px 3px 3px 24px;
            height: 34px;
            background-color: #fff;
            color: black;
            outline: none;
            border: none;
          }
        }
        .telephone {
          width: 100%;
          input {
            padding: 3px 3px 3px 24px;
            height: 34px;
            background-color: #fff;
            color: black;
            outline: none;
            border: none;
            width: 100%;
          }
        }
        .message {
          textarea {
            width: 100%;
            height: 150px;
            background-color: #fff;
            padding: 10.5px 10px 3px 24px;
          }
        }
        .submit-btn {
          background-color: $first_color;
          color: #fff;
          width: 100%;
          height: 38px;
          display: flex;
          justify-content: center;
          align-items: center;
          border: none;
          outline: none;
          &:hover{
            background-color: rgba(24, 33, 83, 0.5); /* 50% şəffaflıq */
            
          }
        }
      }
    }
    .contact-info {
      flex: 1;
      display: flex;
      flex-direction: column;
      .consultant-contact-info{
        flex: 3;
        padding: 0 0 0 80px;
        display: flex;
        flex-direction: column;
        gap: 25px;
        color: $first_color;
        border-bottom: 1px solid grey;
        .frontend-consultant-info{
            display: flex;
            flex-direction: column;
            gap: 5px;
            
            h2{
                font-size: 25px;
                font-weight: 600;
                
            }
            p{
                letter-spacing: 0.05em;
                font-size: 14px;
            }
        }
        .contact-phone{
            display: flex;
            flex-direction: column;
            gap: 5px;
            h6{
                font-size: 14px;
                letter-spacing: 0.05em;
            }
            a{
                font-size: 14px;
                color: $first_color;
            }
        }
        .contact-email{
            display: flex;
            flex-direction: column;
            gap: 5px;
            h6{
                font-size: 14px;
                letter-spacing: 0.05em;
            }
            a{
                font-size: 14px;
                color: $first_color;
            }
        }
      }
    }
  }
}
